# Archivos de configuración de entorno
.env

# Archivos de compilación
node_modules/
dist/
build/

# Archivos de configuración de Docker
.dockerignore

# Archivos de logs
*.log

# Archivos temporales y de sistema
.DS_Store
Thumbs.db
